hr{
	width: 250px;
	border : 10px solid green;
	border-collapse: collapse;

}

table tr:nth-child(odd) {
	width: 250px;
	
	background-color: #66FFC0;
}
table tr:nth-child(even) {

	background-color: #D8D8D8 ;
}